// ---------- variables ------------------------------------

$max-width: 1440px;
$spacing_desk: 52px;
$spacing_mob: 15px;

$font-text-light: Montserrat-light;
$font-text-regular: Montserrat-Regular;
$font-text-medium: Montserrat-Medium;
$font-subtitle-semibold: Montserrat-SemiBold;
$font-title-bold: Montserrat-Bold;

$color-primary: #393939;
$color-secondary: #FFFFFF;
$color-accent: #E2DB1A;

